<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHomePage()">  <!-- This is the icon on the pages that direct me back to the home page -->
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Weather Facts  <!-- Name of the page-->
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ul>  <!-- These are the facts about the weather in a unordered list-->
    <li>The highest temperature ever recorded on Earth was 134 degrees Fahrenheit (56.7 degrees Celsius) in Death Valley, California, USA, on July 10, 1913.</li>
    <li>Lightning can strike the same place multiple times. For example, the Empire State Building in New York City is struck by lightning about 25 times per year.</li>
    <li>The average thunderstorm releases the energy equivalent of a 20-kiloton nuclear bomb.</li>
    <li>The world's largest hailstone, measuring about 8 inches (20 centimeters) in diameter and weighing around 1 pound (0.45 kilograms), fell in Vivian, South Dakota, USA, on July 23, 2010.</li>
    <li>The driest inhabited place on Earth is the Atacama Desert in Chile, where some areas have not received any rainfall for hundreds of years.</li>
    <li>The coldest temperature ever recorded was -128.6 degrees Fahrenheit (-89.2 degrees Celsius) in Vostok Station, Antarctica, on July 21, 1983.</li>
    <li>A bolt of lightning can travel at speeds of up to 130,000 miles per hour (209,214 kilometers per hour).</li>
    <li>The wettest place on Earth is Mawsynram, a village in Meghalaya, India, which receives an average annual rainfall of about 467 inches (11,871 millimeters).</li>
    <li>The term "hurricane" is derived from the indigenous Taino people of the Caribbean, who referred to their storm god as "Huracan."</li>
    <li>In a typical year, the Earth experiences about 2,000 thunderstorms every minute, resulting in approximately 16 million thunderstorms annually.</li>
  </ul>
  
</ion-content>
